extends ../layouts/dashboard



block content
    - function formatDateTime(date) {
    -    return date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes();
    - }
    // Dashboard Content
    .utf-dashboard-content-container-aera(data-simplebar='')
        #dashboard-titlebar.utf-dashboard-headline-item
            .row
                .col-xl-12
                    h3 Manage Jobs
                    nav#breadcrumbs
                        ul
                            li
                                a(href='index-1.html') Home
                            li
                                a(href='dashboard.html') Dashboard
                            li Manage Jobs
        .utf-dashboard-content-inner-aera
            .d-flex.justify-content-end.margin-bottom-24
                a.button.utf-dashboard-button-item(href='/dashboard/job/create')
                    i.icon-feather-plus
                    |  Create New Job
            .row
                .col-xl-12
                    .dashboard-box.margin-top-0
                        .headline
                            h3 Manage Job List
                        .content
                            ul.utf-dashboard-box-list
                                if jobs.length === 0
                                    li
                                        .utf-manage-resume-overview-aera.utf-manage-candidate
                                            .utf-manage-resume-overview-aera-inner
                                                .utf-manage-resume-item
                                                    h4
                                                        a(href='#') No job found
                                else
                                    each job in jobs
                                        li(data-id=job.id)
                                            .utf-manage-resume-overview-aera.utf-manage-candidate
                                                .utf-manage-resume-overview-aera-inner
                                                    .utf-manage-resume-item
                                                        h4
                                                            a(href='#')= job.title
                                                            span.dashboard-status-button.green
                                                                i.icon-material-outline-business-center
                                                                |   #{job.jobStatus}
                                                        span.utf-manage-resume-detail-item
                                                            a(href='#')
                                                                i.icon-feather-mail
                                                                |   #{job.jobType.toString().replace(/_/g, ' ').replace(/\w\S*/g, (txt) => txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase())}
                                                        span.utf-manage-resume-detail-item
                                                            i.icon-feather-phone
                                                            |  #{job.category.name}
                                                        span.utf-manage-resume-detail-item
                                                            a(href='#')
                                                                i.icon-material-outline-location-on
                                                                |  #{formatDateTime(job.deadline)}
                                                        .utf-buttons-to-right
                                                            a.button.green.ripple-effect.ico(title='Edit Job' data-tippy-placement='top' href=`/dashboard/job/edit/${job.id}`)
                                                                i.icon-feather-edit
                                                            a.button.red.ripple-effect.ico(title='Delete Job' data-tippy-placement='top')
                                                                i.icon-feather-trash-2
                    // Pagination
                    .clearfix
                    .utf-pagination-container-aera.margin-top-20.margin-bottom-0
                        nav.pagination
                            ul
                                if pagination.page > 1
                                    li.utf-pagination-arrow
                                        a.ripple-effect(href=`/dashboard/job?limit=${pagination.limit}&page=${pagination.page - 1}`)
                                            i.icon-material-outline-keyboard-arrow-left
                                for index in [...Array(pagination.pageCount).keys()]
                                    li
                                        if pagination.page == index + 1
                                            a.ripple-effect.current-page(href=`/dashboard/job?limit=${pagination.limit}&page=${index + 1}`)= index + 1
                                        else
                                            a.ripple-effect(href=`/dashboard/job?limit=${pagination.limit}&page=${index + 1}`)= index + 1
                                // next
                                if page < pageCount
                                    li.utf-pagination-arrow
                                        a.ripple-effect(href=`/dashboard/job?limit=${limit}&page=${pagination.page + 1}`)
                                            i.icon-material-outline-keyboard-arrow-right

                    .clearfix
            // Footer
            .utf-dashboard-footer-spacer-aera
            .utf-small-footer.margin-top-15
                .utf-small-footer-copyrights Copyright © 2021 All Rights Reserved.
    // Dashboard Content / End